.shortcutCard {
    position: absolute;
    border-radius: 8px;
    z-index: 10;
}
.seperator {
    height: 2px;
    background-color: #E7E7E7;
}
.customInput {
    border-radius:2px 8px 8px 8px;
    border: 1px solid black;
    outline: none;
    padding:10px 5px;
}

.btnShortcutCardToggle {
    padding: 10px;
    border-radius: 6px;
    position: fixed;
    bottom: 16px;
    left: 16px;
}

@keyframes animateToolbar {

}
