@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto Mono, monospace;
}

button {
  font-family: Roboto Mono, monospace;
}

h1, h2, h3, h4, h5, h6 {

}


.logo {
  height: 70px;
  background-color: #FFECA8;
  border-radius: 8px;
}
